<main>
  <p id="notice"></p>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-sm-0 mx-auto">
        <h1>Editing Book</h1>

        <div id="error_explanation">
          <% if @book.errors.any? %> <!--エラー時のメッセージ出力-->
          <h3>
            <%= @book.errors.count %> errors prohibited this obj from being saved:
          </h3>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
            <% end %>
          </ul>
          <% end %>
        </div>

        <%= form_with model: @book, local:true do |f| %>
          <div class="form-group">
            <label>
              Title
            </label><br />
            <%= f.text_field :title %>
          </div>
          <div class="form-group">
            <label>
              Opinion
            </label><br />
            <%= f.text_area :body %>
          </div>
          <div class="form-group">
            <%= f.submit 'Update Book' %>
          </div>
        <% end %>

        <%= link_to book_path(@book.id) do %>
          Show
        <% end %>
          |
        <%= link_to books_path do %>
          Back
        <% end %>
      </div>
    </div>
  </div>
</main>
