<h1>Book detail</h1>

<div class="book-body">
  <p><%= attachment_image_tag @book.user, :profile_image, :fill, 20, 20, fallback: "no_image.jpg" %></p> <!--投稿ユーザーの画像-->
  <p><%= @book.user.name %></p> <!--投稿ユーザーの名前-->
  <p><%= @book.title %></p> <!--本のタイトル-->
  <p><%= @book.body %></p> <!--本の内容-->

  <% if @book.user == current_user %>
    <%= link_to "Edit", edit_book_path(@book) %> <!--本の編集-->
    <%= link_to "Destroy", book_path(@book), method: :delete %> <!--本の削除-->
  <% end %>
</div>
